.cards {

    &__container {
        max-width: 1210px;
        margin: 200px auto 100px;
        display: block;
        position: relative;
        text-align: center;

        @media(max-width: 1280px) {
            margin: 160px auto 80px;
        }

        @media(max-width: 1024px) {
            margin: 140px auto 70px;
        }

        @media(max-width: 767px) {
            margin: 120px auto 60px;
        }

        @media(max-width: 480px) {
            margin: 80px auto 40px;
        }

        &.brands {
            margin: 64px auto 96px;

            @media(max-width: 1024px) {
                margin: 60px auto 88px;
            }
    
            @media(max-width: 767px) {
                margin: 50px auto 72px;
            }
    
            @media(max-width: 480px) {
                margin: 40px auto 64px;
            }

        }

    }

    &__item {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 40px;
        background-color: $color-secondary;

        @media(max-width: 1280px) {
            margin-bottom: 30px;
        }

        @media(max-width: 1024px) {
            margin-bottom: 25px;
        }

        @media(max-width: 767px) {
            margin-bottom: 20px;
        }

        @media(max-width: 700px) {
            flex-wrap: wrap;
        }

        &:nth-child(odd) {

            .image {
                order: 100;

                @media(max-width: 700px) {
                    order: 0;
                }

            }

            .text {
                order: 0;

                @media(max-width: 700px) {
                    order: 100;
                }

            }

        }

        &:nth-child(even) {

            .image {
                order: 0;
            }

            .text {
                order: 100;
            }

        }

        .image {
            flex-basis: 60%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                object-fit: cover;
                object-position: 50% 50%;
                display: block;
                min-height: 100%;
                min-width: 100%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                @media(max-width: 700px) {
                    position: relative;
                    min-height: 30vh;
                    top: auto;
                    left: auto;
                    transform: translateX(0) translateY(0);
                }

            }
    
            @media(max-width: 700px) {
                flex-basis: 100%;
            }

        }

        .text {
            flex-basis: 40%;
            text-align: center;
            padding: 80px 30px;

            @media(max-width: 1280px) {
                padding: 60px 24px;
            }

            @media(max-width: 1024px) {
                padding: 50px 20px;
            }
    
            @media(max-width: 767px) {
                padding: 40px 16px;
            }
    
            @media(max-width: 700px) {
                flex-basis: 100%;
                padding: 30px 20px;
            }

            @media(max-width: 480px) {
                padding: 30px 15px;
            }

            &__title {
                font-size: 48px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 15px;

                @media(max-width: 1280px) {
                    font-size: 42px;
                    margin-bottom: 12px;
                }
            
                @media(max-width: 1024px) {
                    font-size: 36px;
                    margin-bottom: 9px;
                }
        
                @media(max-width: 767px) {
                    font-size: 32px;
                }
    
                @media(max-width: 480px) {
                    font-size: 28px;
                }

            }

            hr {
                width: 64px;
                height: 2px;
                background-color: $color-tertiary;

                @media(max-width: 767px) {
                    width: 50px;
                }

            }

            &__text {
                font-size: 18px;
                font-weight: 400;
                font-family: $font-secondary;
                line-height: 1.5;
                margin-top: 15px;

                @media(max-width: 1280px) {
                    font-size: 17px;
                    margin-top: 12px;
                }
            
                @media(max-width: 1024px) {
                    font-size: 16px;
                    margin-top: 9px;
                }

            }

        }

        .btn {
            margin-bottom: 0;
        }

    }

}