.checkout {

    table {
        background-color: $color-secondary;
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-collapse: collapse;
        margin: 0 auto;

        &.woocommerce-checkout-review-order-table {
            margin-bottom: 30px;
        }

        thead,
        tbody,
        tfoot {
            border-bottom: 1px solid $color-grey2;

            tr {
                display: flex;
                justify-content: space-between;
            }

        }

        td,
        th {
            padding: 16px 10px;
            vertical-align: middle;
            font-size: 16px;
            line-height: 1.66;

            p {
                margin: 0;
                vertical-align: middle;
                font-size: 16px;
                line-height: 1.66;
            }

        }

        th {
            font-size: 18px;
        }

        tbody td {
            font-size: 16px;
        }

        tr:nth-child(even) {
            background: $color-grey;
        }

        thead th {
            font-size: 16px;
            font-weight: bold;
        }

    }

    .woocommerce-account-fields {
        margin: 0 -15px;
    }

    .col2-set,
    .woocommerce-checkout-review-order,
    #order_review_heading,
    .woocomerce-form {
        max-width: 640px;
        display: block;
        margin: 0 auto;

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper,
        .woocommerce-additional-fields__field-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            padding: 15px 0;
        }
        
        .form-row {
            padding: 0 15px;
            margin-bottom: 32px;
            flex-basis: 50%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            position: relative;
            justify-content: flex-end;

            label,
            input,
            select,
            textarea {
                display: block;
                width: 100%;
                appearance: none;
            }

            label {
                font-weight: 400;
                letter-spacing: 0px;
                margin-bottom: 6px;
                font-size: 14px;
                letter-spacing: 0.5px;
                text-transform: uppercase;

                abbr {
                    outline: 0;
                    border: none;
                    color: $color-tertiary;
                }

            }

            input,
            select,
            textarea,
            .select2-selection {
                line-height: 1.44;
                padding: 6px 10px 6px 10px;
                font-size: 17px;
                font-weight: 600;
                border: 1px solid $color-grey2;
                border-radius: 0;
                outline: 0!important;
                min-height: 40px;
            }

            input[type="checkbox"] {
                appearance: checkbox!important;
                width: 24px;
                height: 24px;
                padding: 0;
                display: inline-block;
                margin: 0 5px 0 0;
            }

            .select2-selection {
                margin-bottom: 0px;
            }

            .select2-selection__rendered {
                padding-left: 0;
                line-height: 1.44;
            }

            .select2-selection__arrow {
                margin-top: 6px;
            }

            &#order_comments_field {
                flex-basis: 100%;

                textarea {
                    min-height: 120px;
                }

            }

        }

    }

    #order_review_heading {
        margin-bottom: 30px;
    }

    .woocommerce-checkout-payment {
        margin-top: 60px;
    }

    .wc_payment_methods {

        li {
            padding: 5px 0;

            label {
                font-weight: 500;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 16px;
                letter-spacing: 0.5px;
            }

            .payment_box {
                margin-top: 5px;
            }

        }

    }

    &__coupon {
        text-align: center;

        .form-row {
            text-align: center;

            label,
            input {
                display: block;
                max-width: 260px;
                width: 100%;
                margin: 0 auto;
            }

            label {
                font-weight: 400;
                letter-spacing: 0px;
                margin-bottom: 6px;
                font-size: 14px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                text-align: left;
    
                abbr {
                    outline: 0;
                    border: none;
                    color: $color-tertiary;
                }
    
            }
    
            input,
            select,
            textarea,
            button,
            .select2-selection {
                line-height: 1.44;
                padding: 6px 10px 6px 10px;
                font-size: 17px;
                font-weight: 600;
                border: 1px solid $color-grey2;
                border-radius: 0;
                outline: 0!important;
                min-height: 40px;
            }

            button.button {
                display: inline-block;
                width: auto;
                font-size: 16px;
                background-color: $color-primary;
                color: white;
                padding-left: 20px;
                padding-right: 20px;
                border: none;
                outline: 0;
            }

        }

    }

}

.woocommerce-form-login {
    margin: 20px auto 40px;

    h2 {
        text-align: center;
    }
        
    .form-row {
        text-align: center;

        label,
        input {
            display: block;
            max-width: 260px;
            width: 100%;
            margin: 0 auto;
        }

        label {
            font-weight: 400;
            letter-spacing: 0px;
            margin-bottom: 6px;
            font-size: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            text-align: left;

            abbr {
                outline: 0;
                border: none;
                color: $color-tertiary;
            }

        }

        input,
        select,
        textarea,
        .select2-selection {
            line-height: 1.44;
            padding: 6px 10px 6px 10px;
            font-size: 17px;
            font-weight: 600;
            border: 1px solid $color-grey2;
            border-radius: 0;
            outline: 0!important;
            min-height: 40px;
        }

        &:last-child {
            max-width: 260px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;

            input.button {
                order: 100;
                display: inline-block;
                width: auto;
                align-self: flex-end;
                margin-right: 0;
                font-size: 16px;
                background-color: $color-primary;
                color: white;
                padding-left: 20px;
                padding-right: 20px;
            }

            label {
                width: auto;
                display: inline-block;
                align-self: flex-start;
                margin-left: 0;
                position: relative;
                z-index: 9999;

                input {
                    width: auto;
                    display: inline-block;
                    position: relative;
                    z-index: 9999;
                }

            }

            a {
                flex-basis: 100%;
                width: 100%;
                display: inline-block;
                margin-left: 0;
                order: 1000;
                text-align: left;
            }

        }

    }

}

ul.woocommerce-order-overview {
    margin-top: 30px;

    li {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 8px 10px;

        &:nth-child(even) {
            background-color: $color-light;
        }

        &:nth-child(odd) {
            background-color: $color-secondary;
        }

    }

}

.woocommerce-order {
    margin: 30px auto 96px;

    .woocommerce-customer-details {

        .col2-set {
            max-width: 100%;
        }

        address {
            background-color: $color-secondary;
            padding: 10px;
            line-height: 1.7;
            font-size: 18px;

            p {
                margin: 0 auto;
                line-height: 1.7;
                font-size: 18px;
            }

        }

    }

}

.wc-terms-and-conditions {
    margin-top: 30px;

    input[type="checkbox"] {
        width: auto;
        height: auto;
    }

    label {

        a {
            text-decoration: underline;
        }

    }

}

span.required {
    color: $color-tertiary;
}