.footer {
	background-color: $color-primary;
	padding: 60px 0 0 0;
	position: relative;
	display: block;
	margin: 0;
	color: white;

	&__logo {
		margin: 0 auto 80px;
		display: block;
		text-align: center;
		max-width: 260px;
	}

	> .container.lower {
		margin-top: 80px;
		padding-bottom: 35px;
	}

	a:hover {
		text-decoration: underline;
	}

	&__item {
		flex-basis: 33.3333%;

		&.lower {
			flex-basis: 50%;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 1px;

			a {
				color: $color-tertiary;
			}

		}

		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}

		.title {
			font-size: 32px;
			font-weight: 600;
			letter-spacing: 1px;
			margin-bottom: 15px;
		}

		hr {
			height: 2px;
			width: 64px;
			background-color: $color-tertiary;
			margin-bottom: 35px;
		}

		.text,
		nav {
			font-size: 20px;
			font-weight: 500;
			line-height: 1.7;
			letter-spacing: 0.5px;
		}

		.socials {
			display: flex;

			a {
				width: 36px;
				height: 36px;
				background-color: $color-tertiary;
				border-radius: 100%;
				text-align: center;
				vertical-align: middle;
				margin-right: 16px;
			}

			i {
				color: $color-primary;
				font-size: 24px;
				vertical-align: middle;
				line-height: 36px;
			}

		}

		nav {

			ul {

				li {
					line-height: 1.7;

					a {
						line-height: 1.7;
					}

				}

			}

		}

	}

}