.footer {
	background-color: $color-primary;
	padding: 40px 0 0 0;
	position: relative;
	display: block;
	margin: 0;
	color: white;

	@media(max-width: 767px) {
		padding: 30px 0 0 0;
	}

	.flex-cont {

		@media(max-width: 520px) {
			flex-wrap: wrap;
		}

	}

	&__logo {
		margin: 0 auto 30px;
		display: block;
		text-align: center;
		max-width: 220px;

		@media(max-width: 767px) {
			max-width: 190px;
		}

	}

	> .container.lower {
		margin-top: 40px;
		padding-bottom: 30px;

		@media(max-width: 767px) {
			margin-top: 30px;
			padding-bottom: 20px;
		}

	}

	a:hover {
		text-decoration: underline;
	}

	&__item {
		flex-basis: 33.3333%;

		@media(max-width: 520px) {
			flex-basis: 100%;
			padding-bottom: 30px;
		}

		&.lower {
			flex-basis: 50%;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 1px;

			@media(max-width: 767px) {
				font-size: 13px;
			}

			@media(max-width: 520px) {
				padding-bottom: 10px;
				flex-basis: 100%;
				text-align: center!important;
			}

			a {
				color: $color-tertiary;
			}

		}

		&.left {
			text-align: left;

			@media(max-width: 520px) {
				text-align: center;
			}

		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;

			@media(max-width: 520px) {
				text-align: center;
			}

		}

		.title {
			font-size: 25px;
			font-weight: 600;
			letter-spacing: 1px;
			margin-bottom: 5px;

			@media(max-width: 767px) {
				font-size: 21px;
			}

		}

		hr {
			height: 2px;
			width: 48px;
			background-color: $color-tertiary;
			margin-bottom: 15px;

			@media(max-width: 767px) {
				width: 36px;
				margin-bottom: 10px;
			}

		}

		.text,
		nav {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.7;
			letter-spacing: 0.5px;

			@media(max-width: 767px) {
				line-height: 1.5;
				font-size: 15px;
			}

		}

		.socials {
			display: flex;
			justify-content: flex-start;

			@media(max-width: 520px) {
				justify-content: center;
			}
			
			a {
				width: 32px;
				height: 32px;
				background-color: $color-tertiary;
				border-radius: 100%;
				text-align: center;
				vertical-align: middle;
				margin-right: 16px;

				@media(max-width: 520px) {
					margin-left: 8px;
					margin-right: 8px;
				}

			}

			i {
				color: $color-primary;
				font-size: 20px;
				vertical-align: middle;
				line-height: 32px;
			}

		}

		nav {

			ul {

				li {
					line-height: 1.7;

					@media(max-width: 767px) {
						line-height: 1.5;
					}

					a {
						line-height: 1.7;

						@media(max-width: 767px) {
							line-height: 1.5;
						}

					}

				}

			}

		}

	}

}