.product {

    &__single {
        margin-top: 50px;

        @media(max-width: 1080px) {
            margin-top: 30px;
        }

        &-container {
            display: flex;
            flex-wrap: nowrap;
            position: relative;

            @media(max-width: 1080px) {
                flex-wrap: wrap;
            }

        }

        &-slider {
            flex-basis: 66.6666%;
            max-width: 66.6666%;

            @media(max-width: 1280px) {
                flex-basis: 60%;
                max-width: 60%;
            }

            @media(max-width: 1080px) {
                flex-basis: 100%;
                max-width: 100%;
            }

            .item {
                padding: 50px 100px 30px;
            }

            * {
                user-select: none;
            }

        }

        &-info {
            flex-basis: 33.3333%;
            max-width: 33.3333%;
            text-align: center;
            padding-left: 30px;

            @media(max-width: 1280px) {
                flex-basis: 40%;
                max-width: 40%;
            }

            @media(max-width: 1080px) {
                flex-basis: 100%;
                max-width: 520px;
                padding-left: 0;
                margin: 0 auto 30px;
            }

            .woocommerce-variation-price,
            .quantity,
            .btns {
                display: none!important;
            }

            .title {
                font-size: 40px;
                letter-spacing: 1px;
                font-weight: 600;
                margin: 0 auto 20px;
            }

            hr {
                height: 3px;
            }
            
            .price {
                margin-top: 12px;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;

                span {
                    font-size: 24px;
                }

            }

            .sub-price {
                font-size: 14px;
                font-weight: 500;
                color:$color-tertiary;

                span {
                    font-size: 16px;
                }

            }

            .config {
                margin-top: 50px;

                span {
                    font-size: 16px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    display: block;
                }

                &__selects {
                    display: flex;
                    flex-wrap: wrap;

                    .select {
                        flex-basis: calc(50% - 10px);
                        max-width: calc(50% - 10px);
                        font-size: 16px;
                        font-weight: 600;
                        //padding: 12px 18px;
                        padding: 0;
                        //background-color: $color-secondary;
                        margin: 5px;
                        border: none!important;
                        outline: 0!important;
                        letter-spacing: 1px;
                        text-align: left;
                        position: relative;
                        cursor: pointer;

                        label {
                            margin-top: 12px;
                            margin-bottom: 6px;
                            display: block;
                            position: relative;
                        }

                        input,
                        select {
                            display: block;
                            appearance: none;
                            width: 100%;
                            max-width: 100%;
                            padding: 12px 36px 12px 12px;
                            font-size: 16px;
                            font-weight: 600;
                            border-radius: 0;
                            border: none;
                            background-color: $color-secondary;
                            outline: none!important;
                            cursor: pointer;
                        }

                        span {
                            font-size: 16px;
                            margin: 0;
                            line-height: 1;
                        }

                        i {
                            position: absolute;
                            bottom: 13px;
                            right: 10px;
                            pointer-events: none;
                        }

                        ul {
                            display: none;
                            position: absolute;
                            padding: 0;
                            left: 0;
                            right: 0;
                            z-index: 9999;
                            top: 40px;
                            background-color: white;
                            border: 1px solid $color-secondary;
                            border-top: none;

                            li {
                                font-weight: 400;
                                font-size: 15px;
                                letter-spacing: 0;
                                padding: 10px 15px 10px 18px;

                                &:hover {
                                    background-color: $color-secondary;
                                }

                            }

                        }

                    }

                }

            }

            .add_to_cart,
            .single_add_to_cart_button {
                width: calc(100% - 10px);
                appearance: none;
                background-color: transparent;  
                display: block;
                margin: 40px 5px;
                @include trans(250ms);

                @media(max-width: 1080px) {
                    margin: 10px 5px 40px;
                }

                i {
                    font-size: 30px;
                    line-height: 21px;
                    font-weight: 500;
                    margin-left: 0;
                    margin-right: 15px;
                    vertical-align: -1px;
                    font-style: normal;
                }

                span {
                    vertical-align: 2px;
                    @include trans(250ms);
                }

                &:hover {
                    background-color: $color-primary;

                    span {
                        color: white;
                    }

                }

            }

        }

        &-tabs {
            margin-top: 50px;
            margin-bottom: 100px;

            .tabs {
                
                &__header {
                    display: flex;
                    flex-wrap: nowrap;
                }

                &__option {
                    height: 67px;
                    line-height: 64px;
                    text-align: center;
                    flex-basis: 33.3333%;
                    max-width: 33.3333%;
                    font-size: 21px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    @include trans(250ms);
                    border-top: 3px solid transparent;
                    opacity: 0.5;
                    cursor: pointer;

                    @media(max-width: 1080px) {
                        height: 60px;
                        line-height: 58px;
                        font-size: 19px;
                    }

                    &:hover {
                        background-color: $color-secondary;
                        opacity: 0.6;
                    }

                    &.active {
                        border-color: $color-tertiary;
                        background-color: $color-secondary;
                        opacity: 1;

                        &:hover {
                            opacity: 1;
                        }

                    }

                }

                &__body {
                    background-color: $color-secondary;
                    padding: 60px 80px;
                    font-family: $font-secondary;

                    @media(max-width: 1080px) {
                        padding: 40px 50px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 1.66;

                        @media(max-width: 1080px) {
                            font-size: 16px;
                        }

                    }

                    table {
                        background-color: #F4F4F4;
                        max-width: 100%;
                        min-width: 100%;
                        display: block;
                        text-align: left;
                        border-collapse: collapse;
                        margin: 0 -10px;

                        // tr {
                        //     display: flex;
                        //     flex-wrap: nowrap;
                        //     justify-content: space-evenly;
                        // }

                        thead {
                            border-bottom: 1px solid #E2E2E2;
                        }

                        td,
                        th {
                            padding: 16px 10px;
                            vertical-align: middle;
                            font-size: 16px;
                            line-height: 1.66;

                            p {
                                margin: 0;
                                vertical-align: middle;
                                font-size: 16px;
                                line-height: 1.66;
                            }

                        }

                        th {
                            font-size: 18px;

                            &+td {
                                padding-left: 48px;
                            }

                        }

                    }

                    table tbody td {
                        font-size: 16px;
                    }

                    table tr:nth-child(even) {
                        background: #E2E2E2;
                    }

                    table thead th {
                        font-size: 16px;
                        font-weight: bold;
                    }

                }

                &__content {
                    display: none;

                    &.active {
                        display: block;
                    }

                }

                &__footer {
                    height: 72px;
                    line-height: 72px;
                    width: 100%;
                    background-color: $color-grey;
                    display: block;
                    position: relative;
                    padding: 0 80px;

                    @media(max-width: 1080px) {
                        padding: 0 50px;
                        height: 66px;
                        line-height: 66px;
                    }

                    span {
                        font-size: 21px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        margin-right: 20px;

                        @media(max-width: 1080px) {
                            font-size: 19px;
                        }

                    }

                    a {
                        display: inline-block;
                        position: relative;
                        margin: auto 8px;
                        width: 36px;
                        height: 36px;
                        border-radius: 100%;
                        text-align: center;
                        line-height: 39px;
                        @include trans(150ms);

                        @media(max-width: 1080px) {
                            width: 32px;
                            height: 32px;
                            line-height: 34px;
                            margin: auto 5px;
                        }

                        &.facebook {
                            background-color: #3B5998;
                        }

                        &.twitter {
                            background-color: #55ACEE;
                        }

                        &.linkedin {
                            background-color: #007AB9;
                        }

                        &.google-plus {
                            background-color: #DC4E41;
                        }

                        &.pinterest {
                            background-color: #CB2027;
                        }
                        
                        &.whatsapp {
                            background-color: #25D366;
                        }

                        i {
                            font-size: 21px;
                            color: white;

                            @media(max-width: 1080px) {
                                font-size: 19px;
                            }

                        }

                        &:hover {
                            transform: scale(1.15);
                        }

                    }

                }

            }

        }

    }

    &__related {
        margin-top: 120px;
        margin-bottom: 60px;
        text-align: center;

        &-title {
            font-size: 48px;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 70px;
        }

    }

}

#reviews {
    h2 small {
        float: right;
        //color: $subtext;
        font-size: 15px;
        margin: 10px 0 0;

        a {
            text-decoration: none;
            //color: $subtext;
        }
    }

    h3 {
        margin: 0;
    }

    #respond {
        margin: 0;
        border: 0;
        padding: 0;
    }

    #comment {
        height: 196px;
        padding: 12px;
    }

    #comments {
        .add_review {
            //@include clearfix();
        }

        h2 {
            clear: none;
        }

        ol.commentlist {
            //@include clearfix();
            margin: 0;
            width: 100%;
            background: none;
            list-style: none;
            padding: 0;

            li {
                padding: 0;
                margin: 0 0 20px;
                border: 0;
                position: relative;
                background: 0;
                border: 0;

                .meta {
                    //color: $subtext;
                    font-size: 0.75em;
                }

                img.avatar {
                    float: left;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 3px;
                    width: 32px;
                    height: auto;
                    background: $color-secondary;
                    border: 1px solid darken( $color-secondary, 3% );
                    margin: 0;
                    box-shadow: none;
                }

                .comment-text {
                    margin: 0;
                    background-color: white;
                    border: 1px solid darken( $color-secondary, 3% );
                    border-radius: 4px;
                    padding: 1em 1em 0;
                    //@include clearfix();

                    p {
                        margin: 0 0 1em;
                    }

                    p.meta {
                        font-size: 0.83em;
                    }
                }
            }

            ul.children {
                list-style: none outside;
                margin: 20px 0 0 50px;

                .star-rating {
                    display: none;
                }
            }

            #respond {
                border: 1px solid darken( $color-secondary, 3% );
                border-radius: 4px;
                padding: 1em 1em 0;
                margin: 20px 0 0 50px;
            }
        }

        .commentlist > li::before {
            content: '';
        }
    }
}

/**
 * Star ratings
 */
.star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: 'star';

    &::before {
        content: '\73\73\73\73\73';
        color: darken( $color-secondary, 10% );
        float: left;
        top: 0;
        left: 0;
        position: absolute;
    }

    span {
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;
    }

    span::before {
        content: '\53\53\53\53\53';
        top: 0;
        position: absolute;
        left: 0;
    }
}

.woocommerce-product-rating {
    //@include clearfix();
    line-height: 2;
    display: block;

    .star-rating {
        margin: 0.5em 4px 0 0;
        float: left;
    }
}

.products .star-rating {
    display: block;
    margin: 0 0 0.5em;
    float: none;
}

.hreview-aggregate .star-rating {
    margin: 10px 0 0;
}

#review_form #respond {
    //@include clearfix();
    position: static;
    margin: 0;
    width: auto;
    padding: 0;
    background: transparent none;
    border: 0;

    p {
        margin: 0 0 10px;
    }

    .form-submit input {
        left: auto;
        background-color: $color-primary;
        color: white;
        display: inline-block;
		padding: 16px 64px;
		border: 3px solid $color-primary;
		margin-top: 8px;
        margin-bottom: 16px;
        line-height: 1;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    textarea {
        box-sizing: border-box;
        width: 100%;
    }
}

p.stars {
    a {
        position: relative;
        height: 1em;
        width: 1em;
        text-indent: -999em;
        display: inline-block;
        text-decoration: none;

        &::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            line-height: 1;
            font-family: 'WooCommerce';
            content: '\e021';
            text-indent: 0;
        }

        &:hover ~ a::before {
            content: '\e021';
        }
    }

    &:hover a::before {
        content: '\e020';
    }

    &.selected {
        a.active {
            &::before {
                content: '\e020';
            }

            ~ a::before {
                content: '\e021';
            }
        }

        a:not( .active )::before {
            content: '\e020';
        }
    }
}