.products {
    text-align: center;

    &.homepage {
        margin-bottom: 128px;

        @media(max-width: 1280px) {
            margin-bottom: 96px;
        }

        @media(max-width: 767px) {
            margin-bottom: 72px;
        }

        @media(max-width: 480px) {
            margin-bottom: 56px;
        }

    }

    &.special {
        margin-top: 96px;
        margin-bottom: 128px;

        @media(max-width: 1280px) {
            margin-top: 64px;
            margin-bottom: 96px;
        }

        @media(max-width: 767px) {
            margin-top: 48px;
            margin-bottom: 64px;
        }

        @media(max-width: 480px) {
            margin-top: 32px;
            margin-bottom: 48px;
        }

    }

    &__listing {
        padding-top: 50px;

        @media(max-width: 1280px) {
            padding-top: 44px;
        }

        @media(max-width: 767px) {
            padding-top: 36px;
        }

        @media(max-width: 480px) {
            padding-top: 32px;
        }
        
    }

    &__container {
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: 33.3333%;
        max-width: 400px;
        text-align: center;
        position: relative;
        margin-top: 0;
        padding-bottom: 90px;
        margin-bottom: 40px;
        overflow: hidden;
        @include trans(200ms);
        cursor: pointer;

        @media(max-width: 1280px) {
            padding-bottom: 70px;
            margin-bottom: 30px;
        }

        @media(max-width: 960px) {
            flex-basis: 50%;
        }

        @media(max-width: 460px) {
            flex-basis: 80vw;
            padding-bottom: 60px;
            margin-bottom: 20px;
        }

        @media(max-width: 360px) {
            flex-basis: 90vw;
        }

        &:hover {
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);

            @media(max-width: 767px) {
                box-shadow: none;
            }

            .products__item-btn {
                transform: translateY(0);
                opacity: 1;

                @media(max-width: 767px) {
                    transform: translateY(64px);
                    opacity: 0;
                }

            }

            .products__item-photo {

                img {
                    transform: scale(1.1);

                    @media(max-width: 767px) {
                        transform: scale(1);
                    }

                }

            }

        }

        &-photo {
            padding: 10px;
            max-width: 400px;
            max-height: 320px;
            width: calc(33.3333vw - 20px);
            height: calc(33.3333vw - 20px);
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

            @media(max-width: 960px) {
                width: calc(50vw - 20px);
                height: calc(50vw - 20px);
            }

            @media(max-width: 460px) {
                padding: 5px;
                width: calc(80vw);
                height: calc(80vw);
            }

            @media(max-width: 360px) {
                width: calc(90vw);
                height: calc(90vw);
            }

            img {
                @include trans(200ms);
            }

        }

        &-text {
            position: relative;
            z-index: 9999;

            .title {
                font-size: 20px;
                letter-spacing: 0.5px;
                font-weight: 600;
                margin: 0 auto 10px;

                @media(max-width: 1280px) {
                    font-size: 19px;
                }

                @media(max-width: 560px) {
                    font-size: 17px;
                }

            }

            hr {
                height: 2px;
                width: 40px;
                background-color: $color-tertiary;
            }

            .price {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 0;

                @media(max-width: 1280px) {
                    font-size: 17px;
                }

                @media(max-width: 560px) {
                    font-size: 15px;
                }

                span {
                    font-size: 24px;

                    @media(max-width: 1280px) {
                        font-size: 22px;
                    }

                    @media(max-width: 560px) {
                        font-size: 19px;
                    }

                }

            }

            .sub-price {
                font-size: 14px;
                font-weight: 500;
                color:$color-tertiary;
                margin-bottom: 0;

                @media(max-width: 1280px) {
                    font-size: 13px;
                }

                @media(max-width: 560px) {
                    font-size: 12px;
                }

                span {
                    font-size: 16px;

                    @media(max-width: 1280px) {
                        font-size: 15px;
                    }

                    @media(max-width: 560px) {
                        font-size: 14px;
                    }

                }

            }

        }

        &-btn {
            height: 64px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 62px;
            background-color: $color-grey;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(64px);
            @include trans(200ms);

            @media(max-width: 1280px) {
                height: 60px;
                font-size: 19px;
                line-height: 58px;
            }

            @media(max-width: 560px) {
                height: 50px;
                font-size: 17px;
                line-height: 48px;
            }

            i {
                font-size: 18px;
                vertical-align: -1px;
                margin-left: 10px;
                color: $color-tertiary;

                @media(max-width: 1280px) {
                    font-size: 17px;
                }

                @media(max-width: 560px) {
                    font-size: 16px;
                }

            }

        }

    }

    &__pagination {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 50px auto 100px;

        @media(max-width: 1024px) {
            margin: 40px auto 80px;
        }

        @media(max-width: 767px) {
            margin: 36px auto 64px;
        }

        @media(max-width: 480px) {
            margin: 28px auto 48px;
        }

        .prev,
        .next {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            vertical-align: middle;
            display: block;
            margin-top: 4px;

            @media(max-width: 1024px) {
                font-size: 19px;
            }
    
            @media(max-width: 767px) {
                font-size: 18px;
                margin-top: 2px;
            }
    
            @media(max-width: 560px) {
                margin-top: 3px;
            }

            span {
                color: black;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;

                @media(max-width: 1024px) {
                    font-size: 19px;
                }
        
                @media(max-width: 767px) {
                    font-size: 18px;
                }

                @media(max-width: 580px) {
                    display: none;
                }

            }

            i {
                font-size: 26px;
                vertical-align: -4px;
                margin: 0 5px;
                @include trans(200ms);

                @media(max-width: 1024px) {
                    font-size: 24px;
                    margin: 0 4px;
                }
        
                @media(max-width: 767px) {
                    font-size: 23px;
                    vertical-align: -3px;
                    margin: 0 3px;
                }
        
                @media(max-width: 560px) {
                    font-size: 24px;
                    margin: 0 2px;
                }
                
            }

        }

        .prev {
            margin-right: 30px;

            @media(max-width: 1024px) {
                margin-right: 24px;
            }
    
            @media(max-width: 767px) {
                margin-right: 21px;
            }
    
            @media(max-width: 560px) {
                margin-right: 10px;
                padding-left: 0;
                padding-right: 5px;
            }

            @media(max-width: 360px) {
                padding-right: 0;
            }
            
            &:hover {
                
                i {
                    color: $color-tertiary;
                    transform: translateX(-5px);

                    @media(max-width: 767px) {
                        transform: translateX(0);
                    }

                }

            }

        }

        .next {
            margin-left: 30px;

            @media(max-width: 1024px) {
                margin-left: 24px;
            }
    
            @media(max-width: 767px) {
                margin-left: 21px;
            }
    
            @media(max-width: 560px) {
                margin-left: 10px;
                padding-right: 0;
                padding-left: 5px;
            }

            @media(max-width: 360px) {
                padding-left: 0;
            }
            
            &:hover {
                
                i {
                    color: $color-tertiary;
                    transform: translateX(5px);

                    @media(max-width: 767px) {
                        transform: translateX(0);
                    }

                }

            }

        }

        ul {
            margin: -4px auto 0;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;

            @media(max-width: 767px) {
                margin: -3px auto 0;
            }

            li {

                a,
                .dots,
                .current {
                    font-size: 24px;
                    font-weight: 600;
                    padding: 0 15px;
                    @include trans(200ms);

                    @media(max-width: 1024px) {
                        font-size: 22px;
                        padding: 0 13px;
                    }
            
                    @media(max-width: 767px) {
                        font-size: 21px;
                        padding: 0 12px;
                    }
            
                    @media(max-width: 480px) {
                        font-size: 19px;
                        padding: 0 10px;
                    }

                    @media(max-width: 380px) {
                        padding: 0 6px;
                    }

                }

                span {
                    color: $color-tertiary;
                }

                &:hover,
                &.active {

                    a {
                        color: $color-tertiary;
                    }

                }

            }

        }

    }

}