.section {

    &__intro {
        text-align: center;
        display: block;
        margin-bottom: 80px;

        @media(max-width: 767px) {
            margin-bottom: 60px;
        }
    
        @media(max-width: 480px) {
            margin-bottom: 50px;
        }

        hr {
            width: 64px;
            height: 2px;
            background-color: $color-tertiary;
        }

    }

    &__title {
        font-size: 72px;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0;
        margin-bottom: 20px;
        line-height: 1.1;

        @media(max-width: 1280px) {
            font-size: 64px;
            margin-bottom: 16px;
        }
    
        @media(max-width: 1024px) {
            font-size: 56px;
            margin-bottom: 12px;
        }

        @media(max-width: 767px) {
            font-size: 48px;
        }
    
        @media(max-width: 480px) {
            font-size: 42px;
        }

    }

    &__text {
        margin: 15px auto 0;
        max-width: 660px;
        line-height: 1.44;
        font-size: 18px;
        font-weight: 400;
        font-family: $font-secondary;
        color: $color-dark;

        @media(max-width: 1280px) {
            font-size: 17px;
            margin: 12px auto 0;
        }
    
        @media(max-width: 1024px) {
            font-size: 16px;
            margin: 10px auto 0;
        }

    }

}