.slider {
    
    &__container {
        padding: 0 40px;
        margin-bottom: 90px;
        position: relative;

        &.product__single-slider {
            padding: 0;

            .owl-prev,
            .owl-next {
                width: 48px;
                height: 48px;
                line-height: 48px;
                background: transparent;
                text-align: center;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                margin-top: -40px;
                z-index: 9999999999;

                i {
                    font-size: 48px;
                    color: $color-primary;
                }

            }

            .owl-prev {
                left: 10px;
            }
    
            .owl-next {
                right: 10px;
            }

        }
    
        .owl-carousel {

            .owl-dots {
                margin-top: 10px;
            }
    
        }

        .owl-prev,
        .owl-next {
            width: 56px;
            height: 56px;
            line-height: 56px;
            background: transparent;
            text-align: center;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            margin-top: -48px;
            z-index: 9999999999;

            i {
                font-size: 56px;
                color: white;
                line-height: 1;
            }

            &:hover {
                background-color: transparent;
            }

        }

        .owl-prev {
            left: 60px;
        }

        .owl-next {
            right: 60px;
        }
        
    }

}