.slider {
    
    &__container {
        padding: 0 40px;
        margin-bottom: 90px;
        position: relative;

        @media(max-width: 1280px) {
            padding: 0 30px;
            margin-bottom: 70px;
        }

        &.product__single-slider {
            padding: 0;

            @media(max-width: 1080px) {
                margin-bottom: 50px;
            }

            .owl-prev,
            .owl-next {
                width: 48px;
                height: 48px;
                line-height: 48px;
                background: transparent;
                text-align: center;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                margin-top: -40px;
                z-index: 9999999999;
                cursor: pointer;

                @media(max-width: 1280px) {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    margin-top: -32px;
                }

                i {
                    font-size: 48px;
                    color: $color-primary;

                    @media(max-width: 1280px) {
                        font-size: 40px;
                    }

                }

            }

            .owl-prev {
                left: 10px;
            }
    
            .owl-next {
                right: 10px;
            }

        }
    
        .owl-carousel {

            .owl-dots {
                margin-top: 10px;
            }
    
        }

        .owl-prev,
        .owl-next {
            width: 56px;
            height: 56px;
            line-height: 56px;
            background: transparent;
            text-align: center;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            margin-top: -48px;
            z-index: 9999999999;
            cursor: pointer;

            @media(max-width: 1280px) {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-top: -32px;
            }

            i {
                font-size: 56px;
                color: white;
                line-height: 1;

                @media(max-width: 1280px) {
                    font-size: 40px;
                }

            }

            &:hover {
                background-color: transparent;
            }

        }

        .owl-prev {
            left: 60px;

            @media(max-width: 1280px) {
                left: 40px;
            }

        }

        .owl-next {
            right: 60px;

            @media(max-width: 1280px) {
                right: 40px;
            }

        }
        
    }

    &__full {
        max-height: 80vh;

        .item {

            img {
                object-fit: cover;
                object-position: center;
                max-height: 80vh;
            }

        }

    }

    &__overlay {
        position: absolute;
        top: 50%;
        left: 16.6667%;
        transform: translateY(-50%);
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        min-width: 25%;
        max-width: 35%;
        text-align: center;

        @media(max-width: 1280px) {
            left: 10%;
            padding: 24px;
            min-width: 30%;
            max-width: 40%;
        }

        .btn {
            margin-bottom: 12px;

            @media(max-width: 1280px) {
                margin-bottom: 10px;
            }

        }

    }

    &__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 1px;
        margin: 0 auto 24px;

        @media(max-width: 1280px) {
            font-size: 42px;
        }
    
        @media(max-width: 1024px) {
            font-size: 36px;
        }

    }

    &__text {
        font-size: 18px;
        font-family: $font-secondary;
        font-weight: 400;
        line-height: 1.33;
        margin: 0 auto 10px;

        @media(max-width: 1280px) {
            font-size: 17px;
        }
    
        @media(max-width: 1024px) {
            font-size: 16px;
        }

    }

}