.slider {
    
    &__container {
        padding: 0 40px;
        margin-bottom: 90px;
        position: relative;

        @media(max-width: 1280px) {
            padding: 0 30px;
            margin-bottom: 70px;
        }

        @media(max-width: 767px) {
            padding: 0 20px;
            margin-bottom: 50px;
        }

        @media(max-width: 480px) {
            padding: 0 10px;
            margin-bottom: 40px;
        }

        &.product__single-slider {
            padding: 0;

            @media(max-width: 1080px) {
                margin-bottom: 50px;
            }

            @media(max-width: 767px) {
                margin-bottom: 40px;
            }
    
            @media(max-width: 480px) {
                margin-bottom: 30px;
            }

            .owl-prev,
            .owl-next {
                width: 48px;
                height: 48px;
                line-height: 48px;
                background: transparent;
                text-align: center;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                margin-top: -40px;
                z-index: 9999999999;
                cursor: pointer;

                @media(max-width: 1280px) {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    margin-top: -32px;
                }

                @media(max-width: 767px) {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    margin-top: -28px;
                }
        
                @media(max-width: 480px) {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    margin-top: -24px;
                }

                i {
                    font-size: 48px;
                    color: $color-primary;

                    @media(max-width: 1280px) {
                        font-size: 40px;
                    }

                    @media(max-width: 767px) {
                        font-size: 36px;
                    }
            
                    @media(max-width: 480px) {
                        font-size: 32px;
                    }

                }

            }

            .owl-prev {
                left: 10px;

                @media(max-width: 767px) {
                    left: 0;
                }
        
                @media(max-width: 480px) {
                    left: -10px;
                }

            }
    
            .owl-next {
                right: 10px;

                @media(max-width: 767px) {
                    right: 0;
                }
        
                @media(max-width: 480px) {
                    right: -10px;
                }

            }

            .owl-stage {
                display: flex;
                align-items: center;
            }

            .owl-item {

                img {
                    width: auto!important;
                }

            }

        }
    
        .owl-carousel {

            .owl-dots {
                margin-top: 15px!important;
            }
    
        }

        .owl-prev,
        .owl-next {
            width: 56px;
            height: 56px;
            line-height: 56px;
            background: transparent;
            text-align: center;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            margin-top: -48px;
            z-index: 9999999999;
            cursor: pointer;

            @media(max-width: 1280px) {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-top: -32px;
            }

            @media(max-width: 767px) {
                width: 30px;
                height: 30px;
                line-height: 30px;
                top: auto;
                bottom: -2px;
                margin-top: auto;
            }

            i {
                font-size: 56px;
                color: black;
                line-height: 1;

                @media(max-width: 1280px) {
                    font-size: 40px;
                }

                @media(max-width: 767px) {
                    font-size: 30px;
                }

            }

            &:hover {
                background-color: transparent;
            }

        }

        .owl-prev {
            left: 60px;

            @media(max-width: 1280px) {
                left: 40px;
            }

            @media(max-width: 767px) {
                left: 6px;
            }

        }

        .owl-next {
            right: 60px;

            @media(max-width: 1280px) {
                right: 40px;
            }

            @media(max-width: 767px) {
                right: 6px;
            }

        }
        
    }

    &__full {
        max-height: 80vh;

        @media(max-width: 767px) {
            max-height: 9999px;
        }

        .item {

            img {
                object-fit: cover;
                object-position: center;
                max-height: 80vh;
            }

        }

    }

    &__overlay {
        position: absolute;
        top: 50%;
        left: 16.6667%;
        transform: translateY(-50%);
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        min-width: 25%;
        max-width: 35%;
        text-align: center;

        @media(max-width: 1280px) {
            left: 10%;
            padding: 24px;
            min-width: 30%;
            max-width: 40%;
        }

        @media(max-width: 960px) {
            left: 8%;
            padding: 20px;
            min-width: 30%;
            max-width: 50%;
        }

        @media(max-width: 767px) {
            left: auto;
            top: auto;
            position: relative;
            transform: translateY(0);
            background-color: $color-light;
            padding: 20px;
            min-width: 100%;
            max-width: 100%;
        }

        .btn {
            margin-bottom: 12px;

            @media(max-width: 1280px) {
                margin-bottom: 10px;
            }

            @media(max-width: 960px) {
                margin-bottom: 5px;
            }

        }

    }

    &__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 1px;
        margin: 0 auto 24px;

        @media(max-width: 1280px) {
            font-size: 42px;
        }
    
        @media(max-width: 1024px) {
            font-size: 36px;
        }

    }

    &__text {
        font-size: 18px;
        font-family: $font-secondary;
        font-weight: 400;
        line-height: 1.33;
        margin: 0 auto 10px;

        @media(max-width: 1280px) {
            font-size: 17px;
        }
    
        @media(max-width: 1024px) {
            font-size: 16px;
        }

    }

}