.btn {

	&:hover,
	&:focus,
	&:active {
		text-decoration: none!important;
		outline: none!important;

		* {
			text-decoration: none!important;
			outline: none!important;
		}

	}

	&__big {
		display: inline-block;
		padding: 22px 50px;
		border: 3px solid $color-primary;
		margin-top: 50px;
		margin-bottom: 50px;

		span {
			line-height: 1;
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}

		i {
			font-size: 22px;
			line-height: 1;
			vertical-align: -1px;
			margin-left: 20px;
			color: $color-tertiary;
			@include trans(250ms);
		}

		&:hover {

			i {
				transform: translateX(7px);
			}

		}

	}

	&__normal {
		display: inline-block;
		padding: 16px 36px;
		border: 3px solid $color-primary;
		margin-top: 30px;
		margin-bottom: 30px;

		span {
			line-height: 1;
			font-size: 19px;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		i {
			font-size: 18px;
			line-height: 1;
			vertical-align: -1px;
			margin-left: 15px;
			color: $color-tertiary;
			@include trans(250ms);
		}

		&:hover {

			i {
				transform: translateX(5px);
			}

		}

	}

	&__smaller {
		display: inline-block;
		padding: 14px 33px;
		border: 3px solid $color-primary;
		margin-top: 24px;
		margin-bottom: 24px;

		span {
			line-height: 1;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		i {
			font-size: 17px;
			line-height: 1;
			vertical-align: -1px;
			margin-left: 12px;
			color: $color-tertiary;
			@include trans(250ms);
		}

		&:hover {

			i {
				transform: translateX(5px);
			}

		}

	}

	&__small {
		display: inline-block;
		padding: 10px 24px;
		border: 2px solid $color-primary;
		margin-top: 20px;
		margin-bottom: 20px;

		span {
			line-height: 1;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		i {
			font-size: 16px;
			line-height: 1;
			vertical-align: 0;
			margin-left: 10px;
			color: $color-tertiary;
			@include trans(250ms);
		}

		&:hover {

			i {
				transform: translateX(5px);
			}

		}

	}

	&__full {
		background-color: $color-primary;

		span,
		i {
			color: white;
		}

		&:hover {

			i {
				color: $color-tertiary;
			}

		}

	}

}