body {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
    font-family: $font-primary;
	font-weight: 400;
	font-size: 16px;
	color: $color-primary;
	min-height: 100vh;
	background-color: white;
}

html,
body {
	max-width: 100%;
	max-width: 100vw;
	overflow-x: hidden;

	&.menu-active {
		overflow: hidden;
	}

}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

img,
object,
svg,
picture,
embed,
iframe {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

object,
svg {
	pointer-events: none;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	border: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		line-height: 1.44;
	}

}

hr {
	border: none;
	outline: none;
	display: inline-block;
	width: 64px;
	height: 2px;
	background-color: $color-tertiary;
}

input,
select,
textarea,
button,
label {
	font-family: $font-primary;
}

section {
	width: 100%;
	position: relative;
	display: block;
}

#wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 1920px;
	@include trans(250ms);

	&__overlay {
		display: none;
		position: absolute;
		top: -100px;
		right: 0;
		bottom: -100px;
		left: -100px;
		background-color: black;
		opacity: 0;
		z-index: 9;
	}

	&.before-before-cart-open {

		#wrapper__overlay {
			display: block;
		}

	}

	&.before-cart-open {

		#wrapper__overlay {
			@include trans(250ms);
		}

	}

	&.cart-open {
		transform: translateX(-480px);

		#wrapper__overlay {
			opacity: 0.7;
			cursor: url('../img/cancel.svg'), e-resize;
		}

	}

	// @media(max-width: 800px) {
	// 	transition: all 250ms ease;
	// 	padding-top: 130px;

	// 	&.menu-active {
	// 		transform: translateX(270px);
	// 	}

	// }

	// @media(max-width: 480px) {
	// 	padding-top: 121px;
	// }

}

.container {
	position: relative;
	margin: 0 auto;
	padding: 0 40px;
	display: block;
	max-width: 1440px;

	@media(max-width: 767px) {
		padding: 0 20px;
	}

	&-sml {
		max-width: 1200px;
	}
	
	&__half-left {
		position: relative;
		float: left;
		display: block;
		padding-left: 100px;
		padding-right: 15px;
		max-width: 585px;

		@media(max-width: 1280px) {
			padding-left: 70px;
			max-width: 555px;
		}

		@media(max-width: 1170px) {
			padding-left: 50px;
			max-width: 495px;
		}

	}

	&__half-right {
		position: relative;
		float: right;
		display: block;
		padding-right: 100px;
		padding-left: 15px;
		max-width: 585px;

		@media(max-width: 1280px) {
			padding-right: 70px;
			max-width: 555px;
		}

		@media(max-width: 1170px) {
			padding-right: 50px;
			max-width: 495px;
		}

	}

}

.centerV-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	height: 100%;
	
	.centerV-content {
		align-self: center;
		width: 100%;
	}

}

.bg-cover {
	display: block;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	object-fit: cover;

	&-abs {
		display: block;
		width: 100vw;
		max-width: 100vw;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}

}

.flex-cont {
	display: flex;
	flex-wrap: nowrap;
}

.flex-item {
	align-self: stretch;
}

.whole-element-link {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
}

.modal-open {
	overflow: hidden!important;

	body {
		overflow: hidden!important;
	}

}

.stripe-loading-indicator {
	height: 16px!important;
	display: none!important;

	.stripe,
	.stripe-loaded {
		height: 16px!important;
		background-color: $color-tertiary!important;
	}

}

.flash-message {
	z-index: 9999999999999999999999999999999999!important;
	font-size: 16px!important;
	font-weight: 700!important;

	&.info {
		background-color: $color-tertiary!important;
	}
		
}

#cookieMessage {
	position: fixed;
	background-color: $color-tertiary;
	color: white;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999999999999999999999999999999999;
	padding: 61px 0;
	display: none;

	@media(max-width: 640px) {
		padding: 20px 0;
	}

	&.show {
		display: block;
	}

	.container {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;

		@media(max-width: 640px) {
			flex-wrap: wrap;
			justify-content: center;
		}

	}

	.message {
		padding-right: 50px;
		font-size: 16px;
		line-height: 1.4;

		@media(max-width: 640px) {
			padding-right: 0;
			text-align: center;
		}

	}

	.agree {
		// padding-right: 30px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
		padding: 12px 30px;
		border: 2px solid white;
		display: inline-block;

		@media(max-width: 640px) {
			align-self: flex-end;
			margin-top: 20px;
		}

	}
	
	.close {
		width: 40px;
		height: 40px;
		margin-top: -40px;
		cursor: pointer;

		i {
			font-size: 40px;
		}

	}

}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}