$color-primary: #222222;
$color-secondary: #f4f4f4;
$color-tertiary: #ff0000; // #468966 
$color-light: #F8F8F8;
$color-grey: #D8D8D8;
$color-dark: #4A4A4A;
$color-darker: #31353D;

$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Roboto', sans-serif;