$color-primary: #222222;
$color-secondary: #f4f4f4;
$color-tertiary: #ff0000; // #468966 
$color-light: #E8E8E8;
$color-grey: #e2e2e2;
$color-grey2: #d8d8d8;
$color-dark: #4A4A4A;
$color-darker: #31353D;

$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Roboto', sans-serif;